:root {
	--main-color: #ff6f69;
	--radiused: 15px;
	--width: 60%;
	--height: 80px;
}

.element {
	background-color: var(--main-color);
	width: var(--width);
	height: var(--height);
	border-radius: var(--radiused);
	margin: auto;
	text-align: center;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: 1.5s;
}

button {
	display: block;
	margin: auto;
}

#but1, #but2 {
	margin-top: 20px;
}
/* why @media doesn't works with css variables, when they are already changed by setProperty
@media all and (max-width: 768px) {
  :root {
    --main-color: #ffffff;
  }
}
 */